body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

#section1{
    display: flex;
 justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 40px;
}
#image-div{
width: 50%;
}
#image-1{
    height: 500px;
}

#text-div{
    width: 500px;
    padding: 0 0 0 30px;
    
}

.text-div-1{
    font-size:50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.text-div-4{
    font-size:24px;
    font-family: 'Courier New', Courier, monospace;
}

.text-div-p{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 25px;
}

#colorfull-name{
    color: blue;
}
#colorfull-name:hover{
    color:coral;
    transition: 1s;
}




button{
    font-style: italic;
    font-size: 20px;
    padding: 13px 40px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover{
    background-image:linear-gradient(green,white);
    transition: 2s;
}